@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    height: 1213px;
    font-family: 'Ubuntu';
}

nav{

    height: 670px;
    width: 50px;
    background-color:rgb(79, 161, 193) ;
    border-radius: 0px 10px 10px 0px;
    
}

nav > ul > li > a > div{
    position: relative;
    top: 190px;

    margin-left: 9px;
    margin-bottom: 15px;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 10px;

}
nav > ul > li > a > div > span{
    margin-left: 4px;
    margin-top: 4px;
    color:rgb(79, 161, 193) ;
}

section{
    width: 1242px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;

    position: absolute;
    top: 15px;
    left: 75px;
    
}


section > a > div{
    margin-top: 12px;
    margin-left:61px ;
    float: left;
    width: 70px;
    height: 70px;
    background-color: rgb(79, 161, 193) ;
    border-radius: 20px;
}
section > a > div > .d2{
    width: 30px;
    height: 30px;
    border: 2px solid rgb(255, 255, 255);
    margin: auto;
    display: block;
    margin-top: 19px;
    border-radius: 10px;
}
              
section > a > div > .d2 > span{
    margin-top: 1px;
    margin-left: 1px;
}

section > aside > div{
    display: inline-block;
    position: relative;
    top: 120px;
    font-weight: 500;
    font-size: 14px;
    color: rgb(79, 161, 193);
}
section > aside > .d1{
    margin-left: 78px;
    margin-right: 77px;
}
section > aside > .d2{
    margin-left: 7px;
    margin-right: 78px;
}
section > aside > .d3{
    margin-left: 8px;
    margin-right: 75px;
}
section > aside > .d4{
    margin-left: 12px;
    
}
section > aside > .d5{
    margin-left: 89px;
    margin-right: 78px;
}

section > aside > .d6{
    margin-left: 9px;
    margin-right: 2px;
}
section > aside > .d7{
    margin-left: 83px;
    margin-right: 77px;
}
section > aside > .d8{
    margin-left: 6px;
   
}
section > aside > .d9{
    margin-left: 85px;
    margin-right: 77px;
}


main > .text {
    position: absolute;
    top: 188px;
    left: 76px;
    width: 447px;
    height: 439px;
    border-radius: 20px;
    background-color: #ffffff;

}
.text > p {
    padding: 15px ;
    text-align: justify;
    line-height: 20px;
    font-family: 'Ubuntu';
    font-size: 16px;
}
.text > img{
    position: absolute;
    top: 339px;
    left:25px;
}
.form2{
    position: absolute;
    top: 180px;
    left: 540px;
    background-color: #ffffff;
    height: 447px;
    width: 777px;
    border-radius: 20px;
}

.form2 >h1{
    background-color: rgb(79, 161, 193); 
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-family: 'ubuntu';
    font-weight: 400;
    font-size: 28px ;
    padding-left: 20px;
    padding-top: 10px;
    height: 50px;
    margin-bottom: 20px;
}

.form2 > .addfuncionario{
    height: 60px;
    width: 729px;
    display: block;
    margin: auto;
    border: 1px solid rgb(79, 161, 193);
    border-radius: 10px;
    font-family: 'ubuntu';
    cursor: pointer;
    color: rgb(79, 161, 193);
}


.form2 > .b2{
    font-family: 'ubuntu';
    color: rgb(79, 161, 193);
    height: 31px;
    width: 192px;
    border: 1px solid rgb(79, 161, 193);
    border-radius: 10px;
    margin-left: 22px;
}

.form2 > .b3{
    font-family: 'ubuntu';
    color: rgb(79, 161, 193);
    height: 31px;
    width: 192px;
    border: 1px solid rgb(79, 161, 193);
    border-radius: 10px;
    margin-left: 22px;
}

.form2 > .d1{
    height: 84px;
    width: 729px;
    background-color: #EDF1F5;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form2 > .d2{
    height: 84px;
    width: 729px;
    background-color: #EDF1F5;
    border-radius: 10px;
    margin: auto;


}

.form2 > .d1 > h1{
    font-weight: 400;
    font-family: 'ubuntu';
    font-size: 24px;
    color: #707070;
    margin-bottom: 10px;
    
}

.form2 > .d1 > span{
    width: 82px;
    height: 24px;
    margin-left: 10px;
    
    border-radius: 36px;
    background-color: #4FA1C1;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;

}

.form2 > .d2 > h1{
    font-weight: 400;
    font-family: 'ubuntu';
    font-size: 24px;
    color: #707070;
    margin-bottom: 10px;
    
}

.form2 > .d2 > span{
    width: 82px;
    height: 24px;
    margin-left: 10px;
    
    border-radius: 36px;
    background-color: #4FA1C1;
    font-size: 14px;
    font-weight: 400;
    padding: 5px;

}

.form2 > .d3{
    background-color:#4FA1C1 ;
    width: 49px;
    height: 84px;
    border-radius: 0px 10px 10px 0px;
    position: relative;
    top: -188px;
    left: 705px;
}
.form2 > .d4{
    background-color:#4FA1C1 ;
    width: 49px;
    height: 84px;
    border-radius: 0px 10px 10px 0px;
    position: relative;
    top: -168px;
    left: 705px;
}

.form2 > .d3 > .material-symbols-outlined{
   position: relative;
   top: 31px;
   left: 13px;

   font-weight: bolder;
}
.form2 > .d4 > .material-symbols-outlined{
    position: relative;
    top: 31px;
    left: 13px;

    font-weight: bolder;
 }